<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectinView的纯代码使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D0317C11C0E8E740082C6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0317DA1C0E8E750082C6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D0317E51C0E8E750082C6CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
