<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>截屏、模糊背景图片、获取当前上下文图片.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D251F091C048FC2009030D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D251F221C048FC2009030D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D251F2D1C048FC2009030D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
